<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="custom-attribute-aitoc-units-and-quantities" xsi:type="array">
                    <item name="class" xsi:type="string">Aitoc\ProductUnitsAndQuantities\Ui\DataProvider\Product\Form\Modifier\ProductUnitsModifer</item>
                    <item name="sortOrder" xsi:type="number">250</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Block\Adminhtml\Items\AbstractItems">
        <plugin name="AitocAdminRenderOrderPlugin" type="Aitoc\ProductUnitsAndQuantities\Plugin\Block\AdminRenderOrderPlugin" sortOrder="5"/>
    </type>
</config>