<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="aitoc_extensions" translate="label" sortOrder="1000000">
            <label>Aitoc Extensions</label>
        </tab>
        <section id="product_units_and_quantities" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Units and Quantities</label>
            <tab>aitoc_extensions</tab>
            <resource>Magento_Backend::product_units_and_quantities</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Settings</label>
                <field id="replace_qty" translate="label" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Replace QTY input with</label>
                    <source_model>Aitoc\ProductUnitsAndQuantities\Model\Config\Source\ReplaceQty</source_model>
                </field>
                <field id="qty_type" translate="label" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>QTY Field Value</label>
                    <source_model>Aitoc\ProductUnitsAndQuantities\Model\Config\Source\QtyType</source_model>
                </field>
                <field id="use_quantities" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Use quantities</label>
                    <validate>validate-use-quantities</validate>
                    <backend_model>Aitoc\ProductUnitsAndQuantities\Model\Config\Source\UseQuantitiesValidate</backend_model>
                    <comment><![CDATA[For example: '1,2,5,7,10']]></comment>
                    <depends>
                        <field id="qty_type">0</field>
                    </depends>
                </field>
                <field id="start_qty" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Starting QTY Value</label>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Set a starting QTY value.]]></comment>
                    <depends>
                        <field id="qty_type">1</field>
                    </depends>
                </field>
                <field id="qty_increment" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Qty Increment</label>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Add a QTY increment amount.]]></comment>
                    <depends>
                        <field id="qty_type">1</field>
                    </depends>
                </field>
                <field id="end_qty" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Final QTY Value</label>
                    <validate>validate-number</validate>
                    <comment><![CDATA[Introduce a final QTY value.]]></comment>
                    <depends>
                        <field id="qty_type">1</field>
                    </depends>
                </field>
                <field id="allow_units" translate="label" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow units</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_per" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Price per</label>
                </field>
                <field id="price_per_divider" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>"Price per" divider</label>
                    <comment><![CDATA[Per; /]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>