<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
		<tab id="evincemage" translate="label" sortOrder="100">
			<label>Evincemage</label>
		</tab>
		<section id="customer" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Redirection</label>
            <tab>evincemage</tab>
            <resource>Evincemage_Customerredirection::config</resource>
            <group id="startup" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="redirection" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Redirect</label>
                    <comment><![CDATA[Format: [route]/[controller]/[action] It will work if Redirect Customer to Account Dashboard after Logging is No]]></comment>
                </field>
				
            </group>
        </section>
 
    </system>
</config>