<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Aitoc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Aitoc_CheckoutFieldsManager::attributes" title="Checkout Attributes (by Aitoc)" sortOrder="900"/>
            </resource>
        </resources>
    </acl>
</config>
