<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Aitoc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Store/etc/config.xsd">
    <default>
        <checkoutfieldsmanager>
            <general>
                <read_cart_in_checkout>0</read_cart_in_checkout>
                <disable_cart>0</disable_cart>
            </general>
            <billing_information>
                <show_middle_name_field>0</show_middle_name_field>
                <show_company_field>0</show_company_field>
                <show_address_fields>0</show_address_fields>
                <show_city_field>0</show_city_field>
                <show_region_field>0</show_region_field>
                <show_country_field>0</show_country_field>
                <show_zip_postal_code_field>0</show_zip_postal_code_field>
                <show_phone_code_field>0</show_phone_code_field>
            </billing_information>
            <shipping_information>
                <enabled_section>0</enabled_section>
                <show_middle_name>0</show_middle_name>
                <show_company_field>0</show_company_field>
                <show_address_fields>0</show_address_fields>
                <show_city_field>0</show_city_field>
                <show_region_field>0</show_region_field>
                <show_country_field>0</show_country_field>
                <show_zip_postal_code_field>0</show_zip_postal_code_field>
                <show_phone_field>0</show_phone_field>
                <show_fax_field>0</show_fax_field>
            </shipping_information>
            <shipping_method>
                <enabled_section>0</enabled_section>
            </shipping_method>
            <payment_method>
                <enabled_section>0</enabled_section>
            </payment_method>
            <checkout_field_path>
                <!-- From this keys will be generated to Labels for admin panel. -->
                <!-- Values will be parsed in LayoutProcessor for checkout -->
                <shipping_address>components>checkout>children>steps>children>shipping-step>children>shippingAddress>children>shipping-address-fieldset>children</shipping_address>
                <before_shipping_method>components>checkout>children>steps>children>shipping-step>children>shippingAddress>children>before-shipping-method-form>children</before_shipping_method>
                <before_payment_methods>components>checkout>children>steps>children>billing-step>children>payment>children>beforeMethods>children</before_payment_methods>
                <after_payment_methods>components>checkout>children>steps>children>billing-step>children>payment>children>afterMethods>children</after_payment_methods>
            </checkout_field_path>
            <components>
                <radiobutton>
                    <model>Magento\Ui\Component\Form\Element\RadioSet</model>
                    <component>Magento_Ui/js/form/element/checkbox-set</component>
                    <component_config>
                        <template>Aitoc_CheckoutFieldsManager/form/field</template>
                        <element_tmpl>Aitoc_CheckoutFieldsManager/form/element/checkbox-set</element_tmpl>
                    </component_config>
                </radiobutton>
                <checkbox>
                    <model>Magento\Ui\Component\Form\Element\CheckboxSet</model>
                    <component>Aitoc_CheckoutFieldsManager/js/form/element/checkbox-set</component>
                    <component_config>
                            <template>Aitoc_CheckoutFieldsManager/form/field</template>
                            <element_tmpl>Aitoc_CheckoutFieldsManager/form/element/checkbox-set</element_tmpl>
                    </component_config>
                </checkbox>
                <multiselect>
                    <model>Magento\Ui\Component\Form\Element\MultiSelect</model>
                    <component>Aitoc_CheckoutFieldsManager/js/form/element/multiselect</component>
                    <component_config>
                            <template>ui/form/field</template>
                            <element_tmpl>Aitoc_CheckoutFieldsManager/form/element/multiselect</element_tmpl>
                    </component_config>
                </multiselect>
                <label>
                    <model>Aitoc_CheckoutFieldsManager\Ui\Component\Form\Element\Text</model>
                    <component>Aitoc_CheckoutFieldsManager/js/form/element/label</component>
                    <component_config>
                            <template>ui/form/field</template>
                            <element_tmpl>Aitoc_CheckoutFieldsManager/form/element/label</element_tmpl>
                    </component_config>
                </label>
            </components>
        </checkoutfieldsmanager>
    </default>
</config>
