<?xml version="1.0"?>
<!--
 /**
  * @author Evince Team
  * @copyright Copyright (c) 2018 Evince (http://evincemage.com/)
  */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="redirect_customer_login_success" instance="Evincemage\Customerredirection\Observer\CustomerLogin" />
    </event>
</config>