<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <product_units_and_quantities>
            <general_settings>
                <qty_type>0</qty_type>
                <start_qty>1</start_qty>
                <qty_increment>2</qty_increment>
                <end_qty>10</end_qty>
                <price_per>item</price_per>
                <price_per_divider>per</price_per_divider>
                <use_quantities>1, 2, 5, 10</use_quantities>
                <allow_units>0</allow_units>
                <replace_qty>0</replace_qty>
            </general_settings>
        </product_units_and_quantities>
    </default>
</config>
