<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <preorder>
            <general>
                <status_change>0</status_change>
                <backstock_preorders>0</backstock_preorders>
                <deny_mixing_products>0</deny_mixing_products>
            </general>
            <preorder_alert>
                <send_email>0</send_email>
                <email_preorder_template>preorder_preorder_alert_email_preorder_template</email_preorder_template>
                <email_identity>general</email_identity>
            </preorder_alert>
            <preorder_order>
                <active_order>1</active_order>
                <email_preorder_order_template>preorder_preorder_order_email_preorder_order_template</email_preorder_order_template>
            </preorder_order>
            <preorder_invoice>
                <active_invoice>1</active_invoice>
                <email_preorder_invoice_template>preorder_preorder_invoice_email_preorder_invoice_template</email_preorder_invoice_template>
            </preorder_invoice>
        </preorder>
    </default>
</config>
