<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_before">
        <observer name="aitoc_preorder_change_status" instance="Aitoc\PreOrders\Observer\CartAllowed" />
    </event>
    <event name="sales_order_save_after">
        <observer name="aitoc_preorder_change_status" instance="Aitoc\PreOrders\Observer\ChangeStatusOrder" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="aitoc_preorder_save_observer" instance="Aitoc\PreOrders\Observer\AfterSaveProduct" />
    </event>
</config>
