<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="aitoc_extensions" translate="label" sortOrder="1000000">
            <label>Aitoc Extensions</label>
        </tab>
        <section id="preorder" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Pre-Orders</label>
            <tab>aitoc_extensions</tab>
            <resource>Aitoc_PreOrders::config_preorder</resource>
             <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <attribute type="expanded">1</attribute>
                 <field id="status_change" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                     <label>Change status for mixed Orders</label>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     <comment><![CDATA[When an Order contains both regular and pre-ordered items, “Pre-Order” is added to the status name (for instance, “Pending Pre-Order”).]]></comment>
                 </field>
                 <field id="backstock_preorders" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                     <label>Allow Out-Of-Stock product for Pre-Order</label>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                     <comment><![CDATA[When a product with the “Pre-Order” status becomes out-of-stock (when its Quantity goes below zero), it will be sold as a pre-order.]]></comment>
                 </field>
                 <field id="deny_mixing_products" translate="label comment" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                     <label>Restrict mixing Pre-Orders and regular products in cart</label>
                     <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                 </field>
             </group>
            <group id="preorder_alert" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Pre-Order Email Alerts</label>
                <field id="send_email" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Alerts</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Notify customers by email when a pre-ordered product comes in stock.]]></comment>
                </field>
                <field id="email_preorder_template" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Template</label>
                    <comment>To add a custom template, go to Marketing > Email Templates > Add New Template and load "Pre-Order Alert" (the default template).</comment>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="email_identity" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                    </group>
            <group id="preorder_order" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Custom "New Order" Email</label>
            <field id="active_order" translate="label" sortOrder="50" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Enabled</label>
                <comment>Choose “Yes” to send custom “New Order” notifications for orders that contain pre-ordered items.</comment>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="email_preorder_order_template" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Template</label>
                <comment>To add a custom template, go to Marketing > Email Templates > Add New Template and load “New Order with Pre-Order” (the default template).</comment>
                <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
            </field>
            </group>
            <group id="preorder_invoice" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Custom "New Invoice" Email</label>
            <field id="active_invoice" translate="label" sortOrder="70" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Enabled</label>
                <comment>Choose “Yes” to send custom “New Invoice” notifications for orders that contain pre-ordered items.</comment>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
            </field>
            <field id="email_preorder_invoice_template" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Template</label>
                <comment>To add a custom template, go to Marketing > Email Templates > Add New Template and load “New Invoice with Pre-Order” (the default template).</comment>
                <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
            </field>
            </group>
        </section>
    </system>
</config>
