<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2018 www.evincemage.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="evincemage" translate="label" sortOrder="200">
            <label>Evince</label>
        </tab>
        <section id="homepage" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General Settings</label>
            <tab>evincemage</tab>
            <resource>Evincemage_Homepage::homepage_configuration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="banner_caption" translate="label" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Banner Caption Text</label>
                    <comment><![CDATA[Used for show text at home page banner. Enter comma separated values if have more one.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>