<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2018 www.evincemage.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="evincemage" translate="label" sortOrder="200">
            <label>Evince</label>
        </tab>
        <section id="evincemage_maillogger" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Email Logger Setting</label>
            <tab>evincemage</tab>
            <resource>Evincemage_EmailLogger::config</resource>
            <group id="maillogger" translate="label" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mail Logging</label>
                <field id="logging" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>