<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Aitoc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <oei>
            <email>
                <template>oei_email_template</template>
            </email>
            <export_entities>
                <orders>
                    <inner>0</inner>
                    <item>order</item>
                    <items>
                        <item>item</item>
                    </items>
                    <addresses>
                        <item>address</item>
                    </addresses>
                    <payments>
                        <item>payment</item>
                    </payments>
                    <paymentstransaction>
                        <item>paymenttransaction</item>
                    </paymentstransaction>
                    <statuseshistory>
                        <item>statushistory</item>
                    </statuseshistory>
                </orders>
                <invoices>
                    <inner>1</inner>
                    <item>invoice</item>
                    <items>
                        <item>item</item>
                    </items>
                    <comments>
                        <item>comment</item>
                    </comments>
                </invoices>
                <shipments>
                    <inner>1</inner>
                    <item>shipment</item>
                    <items>
                        <item>item</item>
                    </items>
                    <comments>
                        <item>comment</item>
                    </comments>
                    <trackingsinformation>
                        <item>trackinginformation</item>
                    </trackingsinformation>
                </shipments>
                <creditmemos>
                    <inner>1</inner>
                    <item>creditmemo</item>
                    <items>
                        <item>item</item>
                    </items>
                    <comments>
                        <item>comment</item>
                    </comments>
                </creditmemos>
            </export_entities>
            <import_entities>
                <order>
                    <fields></fields>
                    <items>
                        <item>item</item>
                    </items>
                    <addresses>
                        <item>address</item>
                    </addresses>
                    <payments>
                        <item>payment</item>
                    </payments>
                    <paymentstransaction>
                        <item>paymenttransaction</item>
                    </paymentstransaction>
                    <statuseshistory>
                        <item>statushistory</item>
                    </statuseshistory>
                    <invoices>
                        <fields></fields>
                        <item>invoice</item>
                        <items>
                            <item>item</item>
                        </items>
                        <comments>
                            <item>comment</item>
                        </comments>
                    </invoices>
                    <shipments>
                        <fields></fields>
                        <item>shipment</item>
                        <items>
                            <item>item</item>
                        </items>
                        <comments>
                            <item>comment</item>
                        </comments>
                        <trackingsinformation>
                            <item>trackinginformation</item>
                        </trackingsinformation>
                    </shipments>
                    <creditmemos>
                        <fields></fields>
                        <item>creditmemo</item>
                        <items>
                            <item>item</item>
                        </items>
                        <comments>
                            <item>comment</item>
                        </comments>
                    </creditmemos>
                </order>
            </import_entities>
            <import_classes>
                <orders>
                    <model>Magento\Sales\Model\Order</model>
                    <validate>Magento\Sales\Model\Order\OrderValidator</validate>
                </orders>
                <items>
                    <model>Magento\Sales\Model\Order\Item</model>
                    <action>addItem</action>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>order_id</field>
                        </i0>
                    </params>
                    <entity>item_id</entity>
                </items>
                <addresses>
                    <model>Magento\Sales\Model\Order\Address</model>
                    <validate>Magento\Sales\Model\Order\Address\Validator</validate>
                    <action>addAddress</action>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </addresses>
                <payments>
                    <model>Magento\Sales\Model\Order\Payment</model>
                    <action>setPayment</action>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </payments>
                <paymentstransaction>
                    <model>Magento\Sales\Model\Order\Payment\Transaction</model>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>order_id</field>
                        </i0>
                        <i1>
                            <id>paymentsId</id>
                            <field>parent_id</field>
                        </i1>
                    </params>
                </paymentstransaction>
                <statuseshistory>
                    <model>Magento\Sales\Model\Order\Status\History</model>
                    <validate>Magento\Sales\Model\Order\Status\History\Validator</validate>
                    <action>addStatusHistory</action>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </statuseshistory>
                <invoices_fields>
                    <model>Magento\Sales\Model\Order\Invoice</model>
                    <validate>Magento\Sales\Model\Order\Invoice\InvoiceValidator</validate>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>order_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </invoices_fields>
                <invoices_items>
                    <model>Magento\Sales\Model\Order\Invoice\Item</model>
                    <action>setInvoice</action>
                    <parent>invoices_fields</parent>
                    <params>
                        <i0>
                            <id>invoicesId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </invoices_items>
                <invoices_comments>
                    <model>Magento\Sales\Model\Order\Invoice\Comment</model>
                    <validate>Magento\Sales\Model\Order\Invoice\Comment\Validator</validate>
                    <action>setInvoice</action>
                    <parent>invoices_fields</parent>
                    <params>
                        <i0>
                            <id>invoicesId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </invoices_comments>
                <shipments_fields>
                    <model>Magento\Sales\Model\Order\Shipment</model>
                    <validate>Magento\Sales\Model\Order\Shipment\ShipmentValidator</validate>
                    <action>addItem</action>
                    <child>shipments_items</child>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>order_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </shipments_fields>
                <shipments_items>
                    <model>Magento\Sales\Model\Order\Shipment\Item</model>
                    <action>setShipment</action>
                    <parent>shipments_fields</parent>
                    <params>
                        <i0>
                            <id>shipmentsId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </shipments_items>
                <shipments_comments>
                    <model>Magento\Sales\Model\Order\Shipment\Comment</model>
                    <validate>Magento\Sales\Model\Order\Shipment\Comment\Validator</validate>
                    <action>setShipment</action>
                    <parent>shipments_fields</parent>
                    <params>
                        <i0>
                            <id>shipmentsId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </shipments_comments>
                <shipments_trackingsinformation>
                    <model>Magento\Sales\Model\Order\Shipment\Track</model>
                    <validate>Magento\Sales\Model\Order\Shipment\Validation\TrackValidator</validate>
                    <action>setShipment</action>
                    <parent>shipments_fields</parent>
                    <params>
                        <i0>
                            <id>shipmentsId</id>
                            <field>parent_id</field>
                        </i0>
                        <i1>
                            <id>ordersId</id>
                            <field>order_id</field>
                        </i1>
                    </params>
                    <entity>entity_id</entity>
                </shipments_trackingsinformation>
                <creditmemos_fields>
                    <model>Magento\Sales\Model\Order\Creditmemo</model>
                    <params>
                        <i0>
                            <id>ordersId</id>
                            <field>order_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </creditmemos_fields>
                <creditmemos_items>
                    <model>Magento\Sales\Model\Order\Creditmemo\Item</model>
                    <action>setCreditmemo</action>
                    <parent>creditmemos_fields</parent>
                    <params>
                        <i0>
                            <id>creditmemosId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </creditmemos_items>
                <creditmemos_comments>
                    <model>Magento\Sales\Model\Order\Creditmemo\Comment</model>
                    <validate>Magento\Sales\Model\Order\Creditmemo\Comment\Validator</validate>
                    <action>setCreditmemo</action>
                    <parent>creditmemos_fields</parent>
                    <params>
                        <i0>
                            <id>creditmemosId</id>
                            <field>parent_id</field>
                        </i0>
                    </params>
                    <entity>entity_id</entity>
                </creditmemos_comments>
            </import_classes>
        </oei>
    </default>
</config>