<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="aitoc_extensions" translate="label" sortOrder="1000000">
            <label>Aitoc Extensions</label>
        </tab>
        <section id="abandoned_cart_alerts_pro" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Abandoned Cart Alerts Pro</label>
            <tab>aitoc_extensions</tab>
            <resource>Magento_Backend::abandoned_cart_alerts_pro</resource>
            <group id="general_settings" translate="label" type="text" sortOrder="100" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="abandoned_period" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Abandoned Period (hours)</label>
                    <comment>If the purchase isn't completed within this time period, cart will be marked as abandoned</comment>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>

